<footer>
    <style>
    .container .col-md-6{
        margin-top: 20px;

        color: black;
        font-style: normal;
    } 
    .line{
        background-color: #0099ff;
        height: 5px;
        width: 100%;
    }
    </style>
    <div class="footer">
        <div class="container">
            <div class="line"></div>
            <div class="row product-description">
                <div class="col-md-6">
                    <p>Tadaboh Corporation 2103</p>
                </div>
                <div class="col-md-6">
                    <p class="text-end">Triều Khúc, Hà Nội</p>
                </div>
            </div>

        </div>
    </div>
</footer>