 <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" 
                        [ngClass]="{'active': activeNavItem === 0} "
                        (click)="setActiveNavItem(0)"
                        routerLink="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                        [ngClass]="{'active': activeNavItem === 1} "
                        (click)="setActiveNavItem(1)"
                        routerLink="/">Thông báo</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" 
                        [ngClass]="{'active': activeNavItem === 2}"
                        (click)="setActiveNavItem(2)"
                        routerLink="/orders">
                            <i class="fa-solid fa-cart-plus"></i>

                            Giỏ hàng</a>
                    </li>
                    <li class="nav-item">
                        <ng-container *ngIf="userResponse">
                            <ng-container 
                                ngbPopover="Tài khoản của tôi<br>Đơn mua</br>Đăng xuất"
                                popoverTitle = "User Actions"
                                triggers="click"
                                [placement]="'bottom'"
                            >
                                <a class="nav-link " id="fullname"
                                    [ngbPopover] = "popoverContent"
                                    (click) = "togglePopover($event)"
                                >
                                {{ userResponse.fullname}}</a>
                                <ng-template #popoverContent>
                                    <div class="popover-list">
                                        <a  class="popover-item" (click)="handleItemClick(0)">Tài khoản của tôi</a>
                                        <a class="popover-item" (click)="handleItemClick(1)">Đơn mua</a>
                                        <a  class="popover-item" (click)="handleItemClick(2)">Đăng xuất</a>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!userResponse">
                            <a class="nav-link " routerLink="/login">Đăng nhập</a>
                        </ng-container>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Tìm ở đây" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Tìm</button>
                </form>
            </div>
        </div>
    </nav>
</header>